.foot .foot-clice1{
	width:100%;
	height:108px;
	background-color:#3b4348;
}
.foot .foot-clice1 div>.left>div{
	width:39px;
	height:45px;
	border-radius: 20%;
	background-color: white;
	float:left;
	margin-right:10px;
}
.foot .foot-clice1 div>.left>div>img{
	position: relative;
	top:6px;
	left:3px;
}
.foot .foot-clice1 div>.left>h2{
	height:45px;
	line-height:45px;
	color:white;
	float:left;
	font-size:18px;
}
.foot .foot-clice1 div>.center{
	margin-left:30px;
}
.foot .foot-clice1 div>.center input{
	width:406px;
	height:48px;
	color:white;
    font-size:16px;
    border-width: 0;
    float:left;
    outline: none; 
    border-width:0;
     padding:0 20px;
    box-sizing: border-box;
}
.foot .foot-clice1 div>.center>div{
	float:left;
	width:115px;
	height:48px;
	background-color:#73b320;
}
.foot .foot-clice1 div>.center>div>button{
	float:left;
	width:115px;
	background-color:#73b320;
	border-width: 0;
	color:white;
	font-size:14px;
	font-weight:600;
	line-height:48px;
}
.foot .foot-clice1>div{
	padding:30px 0;
}
.foot .foot-clice1 div>.right>div{
	padding:0 15px;
}
.foot .foot-clice1 .center>div{
	display: flex;
}
.foot .foot-clice1 div>.center{
	width:600px;
}
.foot .foot-clice1 div>.right>div>img{
	position: relative;
	top:-5px;
}
.foot .foot-clice2{
	height:356px;
	background-color:#313131;
}
.foot .foot-clice2 .center{
	padding:70px 0;
	display: flex;
}
.foot .foot-clice2 .center>div{
	width:270px;
	padding:0 15px;
}
.foot .foot-clice2 .center>div>h3{
	color:#fff;
	font-size:18px;
	font-weight:700;
	margin-top:20px;
}
.foot .foot-clice2 .center>div>ul>li{
	margin-top:10px;
}
.foot .foot-clice2 .center>div>ul>li>a{
	font-size:13px;
	font-weight:400;
	color:#adadad;
}
.foot .foot-clice2 .center>div>ul>li>a:hover{
	color:#007BFF;
}
.foot .foot-clice2 .center>div>ul>li>a>div{
	width:25px;
	height:25px;
	background-color: #007BFF;
}
.foot .foot-clice2 .center>div>ul>li>a>div>img{
	position: relative;
	top:5px;
	left:4px;
}
.foot .foot-clice2 .center>div>ul>li>a>div:hover{
	background-color:#28a745;
}
.foot .foot-clice3{
	background-color: #262626;
	height:92px;
}
.foot .foot-clice3 .center>div{
	display: flex;
	padding:30px 0;
}
.foot .foot-clice3 .center div p{
	font-size:13px;
	font-weight:400;
	color:rgb(173,173,173);
}
.foot .foot-clice3 .center div>p>a{
	color:#0062CC;
}
.foot .foot-clice3 .center div>img{
	padding-left:400px;
}
