.page{
    height:76px;
    background-color: #f1f1f1;
}
.page ul{
    padding:26px 15px;
    height:24px;
}
.page ul li{
    float: left;
    margin-right:15px;
}
.page ul li i{
    display: inline-block;
    width:5px;
    height:5px;
    transform: rotate(45deg) translateY(-3px);
    border-top:2px solid #262626;
    border-right:2px solid #262626; 
}
.page ul li a{
    color:#262626;
    font-size:14px;
    font-weight:500;
}
.page ul li:nth-child(2) a{
    color:#39b0ff;
}
.page ul li a:hover{
    color:#39b0ff;
}
.wrapper{
	height:1762px;
	padding:70px 0;
}
.wrapper .center>div{
	display: flex;
}
.wrapper .center>div{
	padding:0 15px;
}
.wrapper-left{
	width:250px;
	height:1583px;
	padding:0 15px;
}
.wrapper-left .shop{
	height:615px;
}
.shop h2{
	height:24px;
	color:#666;
	font-size:20px;
	font-weight:600;
	border-bottom:2px solid #39B0FF;
	padding-bottom:15px;
	margin-bottom: 30px;
	line-height: 24px;
}
.shop .shop-1{
	margin-bottom:20px;
}
.shop .shop-1>h4{
	height:21px;
	margin-bottom:10px;
	font-size:14px;
	font-weight:700;
}
.shop .shop-1>ul>li{
	height:24px;
	margin-bottom: 10px;
}
.shop .shop-1>ul>li>a{
	color:#262626;
	font-size:14px;
	font-weight:300;
}
.shop .shop-1>ul>li>a>span{
	float: right;
	text-align: center;
}
.shop .shop-1>ul>li>a:hover{
	color:#39B0FF;
	transition:all 0.2s ease-out;
}
.shop .shop-2{
	height:50px;
}
.shop .shop-2>h4{
	height:21px;
	margin-bottom:10px;
	font-size:14px;
	font-weight:700;
}
.shop .shop-2>ul>li{
	width:34px;
	height:20px;
	background-color: #000;
	float:left;
	margin-right:5px;
}
.shop .shop-2>ul>li:nth-child(2){
	width:34px;
	height:20px;
	background-color: #1DD983;
	float:left;
}
.shop .shop-2>ul>li:nth-child(3){
	width:34px;
	height:20px;
	background-color: #E74C3C;
	float:left;
}
.shop .shop-2>ul>li:nth-child(4){
	width:34px;
	height:20px;
	background-color: #f4ca49;
	float:left;
}
.shop .shop-2>ul>li:nth-child(5){
	width:34px;
	height:20px;
	background-color: #F5740A;
	float:left;
}
.wish{
	height:351px;
	margin-top:29px;
}
.wish>h2{
	height:24px;
	color:#666;
	font-size:20px;
	font-weight:600;
	border-bottom:2px solid #39B0FF;
	padding-bottom:15px;
	margin-bottom: 30px;
	line-height: 24px;
}
.wish .wish-1{
	width:220px;
	height:80px;
	margin-bottom:20px;
}
.wish .wish-1>img{
	width:77px;
	height:77px;
	border:1px solid #EEEEEE;
}
.wish .wish-1>div{
	float:right;
	width:130px;
}
.wish .wish-1>div>h2>a:hover{
	color:#007BFF;
}
.wish .wish-1>div>h2>a{
	color:#555555;
	font-size:15px;
	font-weight:400;
}
.wish .wish-1>div>span{
	color:#E74C3C;
	font-size: 16px;
	font-weight: 600;
}
.wish .wish-2{
	height:80px;
}
.wish .wish-2>img{
	width:77px;
	height:77px;
	border:1px solid #EEEEEE;
}
.wish .wish-2>div{
	float: right;
	width:130px;
}
.wish .wish-2>div>h2>a:hover{
	color:#007BFF;
}
.wish .wish-2>div>h2>a{
	color:#555555;
	font-size:15px;
	font-weight:400;
}
.wish .wish-2>div>span{
	color:#E74C3C;
	font-size: 16px;
	font-weight: 600;
}
.most{
	margin-top:29px;
	height:451px;
	width:220px;
}
.most>h2{
	height:24px;
	color:#666;
	font-size:20px;
	font-weight:600;
	border-bottom:2px solid #39B0FF;
	padding-bottom:15px;
	margin-bottom: 30px;
	line-height: 24px;
}
.most .most-1{
	height:80px;
	margin-bottom:20px;
}
.most .most-1>img{
	width:77px;
	height:77px;
	border:1px solid #EEEEEE;
}
.most .most-1>div{
	float: right;
	width:130px;
}
.most .most-1>div>h2>a:hover{
	color:#007BFF;
}
.most .most-1>div>h2>a{
	color:#555555;
	font-size:15px;
	font-weight:400;
}
.most .most-1>div>span{
	color:#E74C3C;
	font-size: 16px;
	font-weight: 600;
}
.most .most-2{
	height:80px;
}
.most .most-2>img{
	width:77px;
	height:77px;
	border:1px solid #EEEEEE;
}
.most .most-2>div{
	float: right;
	width:130px;
}
.most .most-2>div>h2>a:hover{
	color:#007BFF;
}
.most .most-2>div>h2>a{
	color:#555555;
	font-size:15px;
	font-weight:400;
}
.most .most-2>div>span{
	color:#E74C3C;
	font-size: 16px;
	font-weight: 600;
}
.wrapper-right{
	width:900px;
	height:1583px;
	margin-left:30px;
}
.option1{
	width:868px;
	height:43px;
	padding:10px 15px;
	background-color: #EEEEEE;
	border:1px solid #EEEEEE;
	line-height: 43px;
	display: flex;
	justify-content: space-between;
}
.option1-left{
	width:250px;
	height:30px;
}
.option1-left span{
	position: relative;
	bottom: 15px;
	margin-left: 15px;
	color:#555555;
	font-size: 16px;
	font-weight: 400;
}
.option1-right label{
	color:#555555;
	font-size: 13px;
	font-weight: 600;
	margin-right: 10px;
}
.option1-right div{
	float: right;
	width:153px;
	padding:8px 30px 8px 15px;
	height:25px;
	background-color: #FFFFFF;
}
.option1-right div a{
	position: relative;
	bottom:10px;
	color:#555555;
	font-size: 13px;
	font-weight: 600;
}
.option1-right div i{
	display: inline-block;
    width:5px;
    height:5px;
    transform: rotate(45deg) translateY(-3px);
    border-right:2px solid #555555;
    border-bottom:2px solid #555555; 
    position: relative;
    left:90px;
    bottom: 9px;
}
.option2{
	height:1403px;
	margin-top:50px;
}
.items .item{
  width:280px;
  float:left;
  height:389px;
  margin-right: 30px;
}
.items .item:nth-child(3){
    margin-right:0;
}
.items .item > a{
    display: block;
    width:210px;
    border:1px solid #ddd;
    box-sizing:border-box;
    border-radius: 3px;
    position: relative;
    margin-bottom: 11px;
}
.items .item > a:hover{
	border:1px solid #fd7e14;
}
.items .item > a img{
    display: block;
    width:208px;
    height:208px;
}
.items .item a .eye{
    width:40px;
    height:40px;
    position: absolute;
    top:50%;
    left:50%;
    border-radius: 50%;
    margin-left:-10px;
    margin-top:-10px;
    background-color: #73b720;
    opacity: 0;
    transform: scale(1.2);
    transition: 0.5s;
} 
.items .item a .eye>img{
	width:24px;
	height:24px;
	position: relative;
	top:10px;
	left:8px;
}
.items .item a .eye:hover{
	background-color:#fd7e14;
}
.items .item a:hover .eye{
   opacity: 1;
   transform: scale(1);
}
.items .item > p {
	font-size:14px;
	font-weight:400;
    color:#666;
}
.items .item .star{
	height:24px;
	margin-top:10px;
	margin-bottom: 5px;
}
.items .item .star img{
	width:18px;
	height:18px;
}
.items .item h5{
    color:red;
    font-size:15px;
    font-weight:600;
}
.items .item h5{
    transition: 0.5s;
}
.items .item .choose{
    opacity: 0;
    transition:0.5s;
}
.items .item .choose a{
    display: inline-block;
    width:40px;
    height:40px;
    background-color: #e5e8ec;
    border-radius: 50%;
    margin-right:10px;
}
.items .item .choose a:hover{
	background-color:#fd7e14;
}
.items .item .choose a img{
	width:20px;
	height:20px;
	position: relative;
	top:10px;
	left:10px;
}
.items .item:hover .choose{
    opacity: 1;
    transform: translateY(-20px);
}
.items .item:hover h5{
    opacity: 0;
    transform: translateY(-10px);
}
.option3{
	width:868px;
	height:43px;
	padding:10px 15px;
	background-color: #EEEEEE;
	border:1px solid #EEEEEE;
	line-height: 43px;
	display: flex;
	justify-content: space-between;
}
.option3-left{
	width:250px;
}
.option3-left>div{
	float: left;
	width:7px;
	height:24px;
	background-color: #FFFFFF;
	color:#555555;
	outline:1px solid #C5C5C5;
	padding:8px 15px;
	line-height: 24px;
	font-size: 12px;
	font-weight: 700;
}
.option3-left>div:hover{
	background-color: #73b720;
}
.option3-right>label{
	color:#555555;
	font-size: 13px;
	font-weight: 600;
	margin-right: 10px;
}
.option3-right>div{
	float: right;
	width:13px;
	height:25px;
	padding:8px 34px 8px 13px;
	background-color: #FFFFFF;
	line-height: 25px;
}
.option3-right>div>i{
	display: inline-block;
    width:4px;
    height:4px;
    transform: rotate(45deg) translateY(-3px);
    border-right:2px solid #555555;
    border-bottom:2px solid #555555; 
    position: relative;
    bottom:25px;
    left:30px;
}
